<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!--essa linha abaixo que faz parecer mais com app-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Give Me A Recipe</title>
  <%= stylesheet_link_tag 'application', media: 'screen,projection', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= render partial: "/application/menu" %>
</header>

<main>
  <%= yield %>
</main>

<%= render partial: "/application/footer" %>


</body>
</html>
